In [29]:
users = {
    'aeinstein' : {
        'first' : 'albert',
        'last' : 'einstein',
        'location' : 'princeton',
        'study' : 'theoretical physics'
    },
    'mcurie' : {
        'first' : 'marie',
        'last' : 'curie',
        'location' : 'paris',
        'study' : 'radioactivity'
    }
}
for username, user_info in users.items():
    print(f'\nUsername: {username}')
    print('\tUser Profile:')
    full_name = f'{user_info['first']} {user_info['last']}'
    location = user_info['location']
    study = user_info['study']
    print(f'\tFull name: {full_name.title()}')
    print(f'\tLocation: {location.title()}')
    print(f'\tStudy: {study.title()}')

Username: aeinstein
	User Profile:
	Full name: Albert Einstein
	Location: Princeton
	Study: Theoretical Physics

Username: mcurie
	User Profile:
	Full name: Marie Curie
	Location: Paris
	Study: Radioactivity

In [25]:
cities = {
    'tokyo' : {
        'country' : 'japan',
        'population' : 14196000,
        'fact' : "has world's busiest train station."
        },
    'new york city' : {
        'country' : 'united States',
        'population' : 8804000,
        'fact' : "has world's first underground park."
        },
    'london' : {
        'country' : 'england',
        'population' : 8800000, 
        'fact' : 'has a secret underground mail railway.'
        }
    }
for city, facts in cities.items():
    print(f'\n{city.title()}')
    for category, fact in facts.items():
        if category == 'country':
            print(f'{category.title()} : {fact.title()}')
        else:
            print(f'{category.title()} : {fact}')

Tokyo
Country : Japan
Population : 14196000
Fact : has world's busiest train station.

New York City
Country : United States
Population : 8804000
Fact : has world's first underground park.

London
Country : England
Population : 8800000
Fact : has a secret underground mail railway.

In [14]:
places = {
    'italy' : ['colosseum', 'leaning tower'],
    'japan' : ['mount fuji', 'fushimi inari shrine'],
    'egypt' : ['giza pyramids', 'karnak temple']
    }
for place, attractions in places.items():
    print(f'\nCountry: \n{place.title()}\n\nAttractions:')
    for attraction in attractions:
        print(attraction.title())

Country:
Italy

Attractions:
Colosseum
Leaning Tower

Country:
Japan

Attractions:
Mount Fuji
Fushimi Inari Shrine

Country:
Egypt

Attractions:
Giza Pyramids
Karnak Temple

In [8]:
pet0 = {'animal' : 'snake', 'name' : 'python'}
pet1 = {'animal' : 'dog', 'name' : 'canis'}
pet2 = {'animal' : 'cat', 'name' : 'felis'}
pets = [pet0, pet1, pet2]
for pet in pets:
    animal = pet['animal']
    name = pet['name']
    print(f'A {animal.title()} named {name.title()}.')

A Snake named Python.
A Dog named Canis.
A Cat named Felis.

In [6]:
numbers = {
    4 : [1, 2, 4],
    6 : [1, 2, 3, 6],
    7 : [1, 7]
    }
for number, multiples in numbers.items():
    print(f'Number : {number} \nMultiples : {multiples}')

Number : 4
Multiples : [1, 2, 4]
Number : 6
Multiples : [1, 2, 3, 6]
Number : 7
Multiples : [1, 7]

In [19]:
bears = {'polar bear' : {
        'genus' : 'ursus',
        'species' : 'maritmus',
        'location' : 'arctic'
        },
        'giant panda' : {
        'genus' : 'ailuropoda',
        'species' : 'melanoleuca',
        'location' : 'china'
        }
    }
for bear, bear_info in bears.items():
    print(f'\nName : {bear}')
    binomial_name = f'{bear_info['genus']} {bear_info['species']}'
    location = bear_info['location']
    print(f'Binomial name : {binomial_name.title()}')
    print(f'Location : {location.title()}')

Name : polar bear
Binomial name : Ursus Maritmus
Location : Arctic

Name : giant panda
Binomial name : Ailuropoda Melanoleuca
Location : China

In [15]:
cities = {
    'france' : ['paris'],
    'england' : ['colchester', 'london', 'manchester'],
    'united states' : ['houston', 'new york']
    }
for country, c in cities.items():
    if len(c) == 1:
        print(f'{country.title()} has {c[0].title()}.')
    else:
        print(f'\n{country.title()} has the following cities:')
        for city in c:
            print(f'\t{city.title()}')

France has Paris.

England has the following cities:
	Colchester
	London
	Manchester

United States has the following cities:
	Houston
	New York

In [11]:
country = {
    'name' : 'england',
    'cities' : ['london', 'bristol', 'brighton']
    }
print(f'{country['name'].title()} '
      'has the following cities:')
for city in country['cities']:
    print(f'\t{city.title()}')

England has the following cities:
	London
	Bristol
	Brighton

In [9]:
elephants = []
for elephant_number in range(15):
    new_elephant = {'height' : 3.36, 'weight' : 6900}
    elephants.append(new_elephant)
for elephant in elephants[:3]:
    if elephant['height'] == 3.36:
        elephant['height'] = 2.73
        elephant['weight'] = 3500
    elif elephant['height'] == 2.73:
        elephant['height'] = 3.96
        elephant['weight'] = 10400
for elephant in elephants[:5]:
    print(elephant)
print('...')
print(f'Total number of elephants: {len(elephants)}')

{'height': 2.73, 'weight': 3500}
{'height': 2.73, 'weight': 3500}
{'height': 2.73, 'weight': 3500}
{'height': 3.36, 'weight': 6900}
{'height': 3.36, 'weight': 6900}
...
Total number of elephants: 15

In [5]:
whale_0 = {'length' : 30, 'weight' : 150}
whale_1 = {'length' : 27, 'weight' : 130}
whale_2 = {'length' : 32, 'weight' : 154}
whales = [whale_0, whale_1, whale_2]
print('Whale measurements :')
for whale in whales:
    print(whale)

Whale measurements :
{'length': 30, 'weight': 150}
{'length': 27, 'weight': 130}
{'length': 32, 'weight': 154}

In [54]:
rivers = {
    'nile' : 'egypt',
    'amazon' : 'brazil',
    'yangtze' : 'china',
    'mississippi-missouri' : 'united states',
    'yenisei' : 'russia'
    }
for river, country in rivers.items():
    print(f'The {river.title()} River flows through {country.title()}.')

The Nile River flows through Egypt.
The Amazon River flows through Brazil.
The Yangtze River flows through China.
The Mississippi-Missouri River flows through United States.
The Yenisei River flows through Russia.

In [50]:
countries = {'germany', 'spain', 'italy', 'italy'}
print(countries)

{'spain', 'germany', 'italy'}

In [25]:
player = {
    'country' : 'croatia',
    'first_name' : 'luka',
    'last_name' : 'modric'
    }
for k, v in player.items():
    print(f'\nKey: {k}')
    print(f'Value : {v}')

Key: country
Value : croatia

Key: first_name
Value : luka

Key: last_name
Value : modric

In [51]:
glossary = {
    'dictionary' : 'collection of key-value pairs.',
    'loop' : 'repeats code when true or for each item in a sequence.',
    'list' : 'ordered collection of data.',
    'data type' : 'integers, floats, strings, and booleans.',
    'variable' : 'named storage that holds data values.',
    'sets' : 'unordered collections of unique values.',
    'comment' : 'line ignored by Python used to explain.',
    'string' : 'sequence of characters to show text.',
    'boolean' : 'true or false.',
    'indent' : 'spaces at beginning of line that groups code together.'
    }
for word, definition in glossary.items():
    print(f'{word.title()} - {definition}')

Dictionary - collection of key-value pairs.
Loop - repeats code when true or for each item in a sequence.
List - ordered collection of data.
Data Type - integers, floats, strings, and booleans.
Variable - named storage that holds data values.
Sets - unordered collections of unique values.
Comment - line ignored by Python used to explain.
String - sequence of characters to show text.
Boolean - true or false.
Indent - spaces at beginning of line that groups code together.

In [56]:
most_goals = {
    'ronaldo' : 140,
    'messi' : 129,
    'lewandowski' : 105,
    'benzema' : 90
    }
if 'neymar' not in most_goals:
    print("Neymar is not top 4 in goals in Champion's League.")
print('\n')

for name, goals in most_goals.items():
    print(f'{name.title()} : {goals}')
print('\n')

rivals = ['ronaldo', 'messi']
for name in most_goals:
    print(name.title())
    if name in rivals:
        goals = most_goals[name]
        print(f"\t{name.title()} has scored {goals} goals in Champion's League.")
    else:
        print(f'\t{name.title()} is not a top 2 scorer.')
print('\n')

for name in sorted(most_goals):
    print(f"{name.title()} is in the top 4 Champion's League scorers.")
print('\n')

print('The following are the number of goals of each top scorer:')
for goals in set(most_goals.values()):
    print(goals)
print('\n')

Neymar is not top 4 in goals in Champion's League.


Ronaldo : 140
Messi : 129
Lewandowski : 105
Benzema : 90


Ronaldo
	Ronaldo has scored 140 goals in Champion's League.
Messi
	Messi has scored 129 goals in Champion's League.
Lewandowski
	Lewandowski is not a top 2 scorer.
Benzema
	Benzema is not a top 2 scorer.


Benzema is in the top 4 Champion's League scorers.
Lewandowski is in the top 4 Champion's League scorers.
Messi is in the top 4 Champion's League scorers.
Ronaldo is in the top 4 Champion's League scorers.


The following are the number of goals of each top scorer:
129
90
140
105

In [ ]:
player0 = {'first_name' : 'robert', 'last_name' : 'lewandowkski', 'age' : 36, 'country' : 'poland'}
player1 = {'first_name' : 'thomas', 'last_name' : 'muller', 'age' : 35, 'country' : 'germany'}
player2 = {'first_name' : 'kylian', 'last_name' : 'mbappe', 'age' : 26, 'country' : 'france'}
players = [player0, player1, player2]
for player in players:
    print(player['first_name'].title())
    print(player['last_name'].title())
    print(f'{player['age']} years old.')
    print(f'{player['country'].title()}\n')

Robert
Lewandowkski
36 years old.
Poland

Thomas
Muller
35 years old.
Germany

Kylian
Mbappe
26 years old.
France

In [5]:
city_state = {
    'houston' : 'texas',
    'new york' : 'new york',
    'dallas' : 'texas',
    'chicago' : 'illinois'
    }
state = city_state['dallas'].title()
print(f'Dallas is located in {state}.')

Dallas is located in Texas.

In [7]:
rectangle = {'width' : 10, 'length' : 8, 'depth' : 16}
print(f'The width of the rectangle is {rectangle['width']}.')
rectangle['width'] = 15
print(f'The width of the rectangle is now {rectangle['width']}.')
if rectangle['depth'] < 10:
    difference = 10 - rectangle['depth']
elif rectangle['depth'] > 10:
    difference = rectangle['depth'] - 10
elif rectangle['depth'] == 10:
    print(f'The height of the rectangle is now 10.')
del rectangle['depth']
print(rectangle)
depth = rectangle.get('depth', 'No depth assigned.')
print(depth)

The width of the rectangle is 10.
The width of the rectangle is now 15.
{'width': 15, 'length': 8}
No depth assigned.

In [ ]:
usa = {}
usa['capital'] = 'washington d.c.'
usa['continent'] = 'north america'
print(usa)
usa['currency'] = 'usd'
usa['language'] = 'english' 
print(usa)

{'capital': 'washington d.c.', 'continent': 'north america'}
{'capital': 'washington d.c.', 'continent': 'north america', 'currency': 'usd', 'language': 'english'}